.monster-checkbox {
  &:hover .ant-checkbox-inner {
    border-color: lighten(#515aca, 10%) !important;
  }

  display: flex;
  align-items: center;
  .ant-checkbox {
    &-inner {
      background-color: #161724;
      border-color: #161724;
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border-color 0.2s ease-in-out;
    }

    &-checked {
      & .ant-checkbox-inner {
        background-color: #161724;
        border-color: #161724;
        position: relative;
        transition: border-color 0.2s ease-in-out;

        &::after {
          content: "";
          position: absolute;
          border: solid #02e314;
          border-width: 0 3px 3px 0;
          display: inline-block;
          width: 8px;
          height: 15px;
          transform: rotate(45deg);
          top: 4px;
          left: 10px;
        }
      }
    }
  }
}
