.monster-input.ant-input {
  background-color: #20223b;
  border: 1px solid #161724;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  padding: 12px;
  &:hover {
    border-color: #36395a;
  }

  &:focus {
    border-color: #36395a;
    outline: none;
  }

  &:focus-within {
    border-color: #36395a;
  }

  &::placeholder {
    color: #5f6280;
  }
}
