.ant-picker-footer .ant-picker-ok .ant-btn[disabled] {
  background-color: #383b66;
  color: #ffffff;
  opacity: 0.5;
}

.ant-picker-footer .ant-picker-ok .ant-btn {
  background-color: #383b66;
  color: #ffffff;
  opacity: 1;
}

.ant-picker-footer .ant-picker-ok .ant-btn:hover {
  background-color: #515aca;
  color: #ffffff;
  opacity: 1;
}
