.green .ant-radio-inner {
  background-color: #00a76f !important;
}

.green.ant-radio-checked .ant-radio-inner {
  background-color: #00a76f !important;
  border-color: #00a76f;
}

.green .ant-radio-inner {
  background-color: #00a76f !important;
}

.green.ant-radio-checked .ant-radio-inner {
  background-color: #00a76f !important;
  border-color: #00a76f;
}
